{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  {% bootstrap_form form %}
  <button type = "submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block navbar_right %}
  {% include "news/signup_dropdown.html" %}
{% endblock %}
