{% extends "base.html" %}

{% block content %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Blerim Kurtishaj</h1>
        <p>Lorem ipsum dolor sit amet, inani dissentiet sed cu, id pri purto alienum prodesset. Eam at noster suscipiantur, ne iusto dicam libris vis. Cu nec tation facilisis. Est oporteat posidonium id, quod temporibus et vim, ad pro atqui interesset. Te</p>
        <p>
          
      </div>
{% endblock %}

{% block navbar_right %}
  {% include "news/signup_dropdown.html" %}
{% endblock %}
